* {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
  scroll-behavior: smooth;
  letter-spacing: 1px;
}

:root {
  --old-background-color: #1B262C;
  --background-color: #1F2028;
  --safari-gradient: -webkit-linear-gradient(to right, #1F2028, #1B262C); /* Chrome 10-25, Safari 5.1-6 */
  --edge-gradient: linear-gradient(to right, #1F2028, #1B262C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  --text-gray-color: #A9ADC1;
  --light-gray: #2c2f33;
  --dark-gray: #23272a;
}

section {
  display: flex;
  flex-direction: column;
  width: 90%;
}