.main {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  background: var(--background-color);
  background: var(--safari-gradient);
  background: var(--edge-gradient);
  flex-direction: column;
  overflow-x: hidden;
}



  /* ================================================================= */


.page {
  display: flex;
  font-size: 40px;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.page h1 {
  color: #BBE1FA;
  margin-top: 20px;
  animation: bouncing 1s ease infinite;
}

@keyframes bouncing {
  from {
    translateY: -20px;
  }
  to {
    translateY: -5px;
  }
}

.page p {
  margin-top: 20px;
  color: white;
  font-size: 30px;
}


.label {
  font-size: 20px;
  color: white;
}


  /* --------------------------------------------------------- */

.container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container div {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

.container img {
  height: 200px;
  width: 200px;
  background-color: white;
  border-radius: 150px;
  object-fit: contain;

}

.images_parent {
  position: relative;
  transform: translate(-150%,-20%);

}

.images {
  position: absolute;
  width: 250px;
  height: 500px;
}

.images_2 {
  animation: in 1s ease forwards;
  transform-origin: 100% 100%;
}

.images_parent:hover {
  .images_2{
    transform-origin: center;
    animation: out 1s linear forwards;
    pointer-events: none;
    transform-origin: 100% 100%;
  }
}


@keyframes in {
  from { transform: rotate(20deg); }
  to { transform: rotate(0deg);}
}

@keyframes out {
  0%  { transform: rotate(0deg); }
  100% { transform: rotate(20deg); }
}

  /* ================================================================= */

.grid_container {
  margin: 0 auto;
  margin-top: 30px;
  display: grid;
  grid-gap: 1rem;
  width: 100%;
  justify-content: center;
}
.grid_items {
  background-color: var(--background-color);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  width: 90%;
  border-radius: 20px;
  position: relative;
}
.openLink {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.cover {
  width:350px;
  height: 350px;
  object-fit: cover;
  object-position: top;
  border-radius: 10px;
}

.grid_items p {
  color: #ccc;
  margin: 0%;
  padding: 0%;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 65px;
}

.technologies {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.photoContainer {
  position: absolute;
  width: 350px;
  height: 300px;
  top: 20px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.grid_items label {
  color: #ccc;
  background-color: var(--old-background-color);
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  font-size: 22px;
}

.grid_items h2 {
  color: white;
  font-size: 25px;
}

  /* --------------------------------------------------------- */

.code {
  display: flex;
  position: relative;
  margin-top: 20px;
  background-color: var(--background-color);
  padding: 50px;
  border-radius: 5px;
  overflow: hidden;
  min-height: 20vh;
  height: 20vh;
  flex-direction: column;
}

.code p {
  color: white;
  word-break: break-all;
  white-space: pre-line;
  text-orientation: upright;
  direction: initial;
}

.code div {
  position: absolute;
  bottom: 50px;
  width: 80%;
}

.code input {
  position: absolute;
  bottom: 5px;
  left: 5px;
  right: 5px;
  background-color: var(--light-gray);;
  border-radius: 5px;
  padding: 5px;
  color: white;
  display: flex;
  align-items: center;
  border-color: none;
  outline: none;
}

.code span {
  border-left: 2px solid white;
  font-size: 0px;
  transition-duration: 2s;
  text-align: center;
  animation: blink 1s ease infinite;
  height: 20px;
  width: 20px;
  position: absolute;
  bottom: 0px;
  left: 25%;
}

@keyframes blink {
  50% {
    font-size: 15px;
  }
}

  /* --------------------------------------------------------- */


.social_label {
  display: flex;
  width: auto;
  height: auto;
  padding-bottom: 20px;
  padding-left: 20px;

}

.social_label p {
  writing-mode: vertical-lr;
  text-orientation: mixed;
  color: white;
  font-weight: 500;
}

.social {
  display: flex;
  justify-content: space-between;
  font-size: 35px;
  align-self: center;
  margin-bottom: 5px;
}

.social_parents {
  background-color: var(--text-gray-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -8.5%;
  top: 25%;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  width: auto;
  padding: 5px;
  transition-duration: 1s;
}

.social_icons {
  display: flex;
  flex-direction: column;
}

.social_parents:hover {
  left: -5.5%;
}

  /* --------------------------------------------------------- */

.arrow_down {
  position: absolute;
  width: 50px;
  height: 50px;
  bottom: 0px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  animation: arrow 1s ease infinite;
}


@keyframes arrow {
  0% {
    transform: translateY(0px)
  }
  25% {
    transform: translateY(5px)
  }
}

/* ================================================================= */

.span::after {
  animation: moveIt 10s infinite;
  content: "span";
}


@keyframes moveIt {
  0% {
    content: "Mobile";
  }
  50% {
    content: "Web";
  }
  100% {
    content: "Desktop";
  }
}


/* ================================================================= */

.desktop {
  display: flex;
}

.mobile {
  display: none;
}

  /* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .images{
    margin-top: 50px;
    width: 350px;
    height: 700px;
  }
  .images_parent {
    transform: translate(0%,0%);
    width: 350px;
    height: 700px;
    position: relative;
    margin-top: 20px;
    align-self: center;
    display: none;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  .social_parents {
    left: -14%;
    top: 10%;
  }
  .social_label p {
    font-size: 25px;
  }
  .grid_container  {
    grid-template-columns: repeat(1, .1fr);
  }
}

  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .page {
    font-size: 15px;
  }
  .container {
    flex-direction: column;
  }
  .images_parent {
    transform: translate(0%,0%);
    width: 250px;
    height: 500px;
    position: relative;
    margin-top: 20px;
    align-self: center;
    display: none;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  .social_parents {
    left: -20%;
    top: 10%;
  }
  .social_label p {
    font-size: 22px;
  }
  .grid_container  {
    grid-template-columns: repeat(1, .1fr);
  }
  .cover {
    width: 300px;
    height: 250px;
  }
}

  /* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .images{
    width: 350px;
    height: 700px;
  }
  .images_parent {
    transform: translate(0%,0%);
    width: 350px;
    height: 700px;
    position: relative;
    margin-top: 20px;
    align-self: center;
    display: none;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  .social_parents {
    left: -12.5%;
  }
  .grid_container  {
    grid-template-columns: repeat(1, .1fr);
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .social_parents {
    left: -10.5%;
  }
  .grid_container { grid-template-columns: repeat(2, .1fr); }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1360px) {
  .desktop {
    display: flex;
  }
  .mobile {
    display: none;
  }
  .images {
    position: absolute;
    width: 250px;
    height: 500px;
  }
  .social_parents {
    left: -8.5%;
  }
  .grid_container { grid-template-columns: repeat(4, .1fr); }
}
